certifi
cffi
chardet
click
cryptography>=3.2
dateparser
Flask
Flask-SQLAlchemy
humanize
idna
itsdangerous
Jinja2
MarkupSafe
pycparser
PyMySQL
pyOpenSSL
PySocks
python-dateutil
pytz
requests
six
SQLAlchemy
urllib3
Werkzeug
win-inet-pton
wincertstore
