{% extends "layout.html" %}
{% block content %}
{%- for s in stocks %}
{%- if s['quote'] == s['prev_close'] %}
{%- set position = "primary" %}
{%- elif s['quote'] > s['prev_close'] %}
{%- set position = "success" %}
{%- else %}
{%- set position = "danger" %}
{%- endif %}
<div id="stock_{{ s['symbol'] }}" class="float-left bg-light text-truncate stock">
    <h4 class="text-{{ position }}">{{ s['symbol'] }}<br /><small class="text-muted text-truncate">{{ s['name'] }}</small></h4>
    <h5><span class="text-{{position}}">{{ s['quote']|currency }}</span>
        <span data-toggle="tooltip" data-placement="top" title="{{ s['quote_timestamp']|ctime }}">
            <small class="text-muted font-weight-light">{{ s['quote_timestamp']|humanize }}</small>
        </span>
    </h5>
    <small class="text-muted">
        Close: {{ s['prev_close']|currency }} ({{ s['since_prev_close']|currency_delta }})
        <!--| Open: {{ s['open']|currency }} ({{ s['since_open']|currency_delta }})-->
    </small>
    <h6>Holdings: {{ s['holdings'] }}&nbsp;&nbsp;Value: {{ s['total_value']|currency }}</h6>
</div>
{%- endfor %}
<div style="clear:both"></div>
{% endblock %}